#!/bin/bash
OUT="/var/www/mesh-home/services.json"
MESH_PREFIX="{{ mesh_ip_prefix }}."

avahi-browse -rtp _http._tcp | awk -F';' -v prefix="$MESH_PREFIX" '
$1 == "=" {
  iface = $2
  proto = $3
  name = $4
  type = $5
  domain = $6
  host = $7
  ip = $8
  port = $9

  if (ip !~ "^" prefix) next

  gsub(/\\032/, " ", name)
  gsub(/"/, "\\\"", name)

  printf("{\"host\":\"%s\",\"ip\":\"%s\",\"port\":%s,\"name\":\"%s\"},\n", host, ip, port, name)
}' | sed '$ s/},$/}/' | awk 'BEGIN { print "[" } { print } END { print "]" }' > "$OUT"